[submodule "zephyr"]
    path = zephyr
    url = https://github.com/zephyrproject-rtos/zephyr.git

[submodule "modules/hal/cypress"]
    path = modules/hal/cypress
    url = https://github.com/zephyrproject-rtos/hal_cypress.git

[submodule "modules/hal/nordic"]
    path = modules/hal/nordic
    url = https://github.com/zephyrproject-rtos/hal_nordic.git

[submodule "modules/lib/nanopb"]
    path = modules/lib/nanopb
    url = https://github.com/nanopb/nanopb.git
[submodule "modules/bsim_hw_models/nrf_hw_models"]
    path = modules/bsim_hw_models/nrf_hw_models
    url = https://github.com/zephyrproject-rtos/nrf_hw_models.git
